/* ==========================================================================
   COMPONENTES EXCLUSIVOS Y ESPECÃFICOS - TEMA 02
   ========================================================================== */

table.tabla-datos {
  width: auto;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 10pt;
  break-inside: avoid;
  margin: 0 auto;
  display: flow-root;
}

table.tabla-datos th {
  background-color: #edf2f7;
  border-bottom: 2px solid #cbd5e0;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

table.tabla-datos td {
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
}

figure.img-ide {
  float: right;
  max-width: 60%;
  margin: 0 0 0 1.5em;
  text-align: left;
}

figure.img-codigo {
  float: left;
  max-width: 55%;
  margin: 0 1.5em 0 0;
  text-align: left;
}

figure.img-cajas {
  float: right;
  max-width: 15%;
  margin: 0 0 0 1.5em;
  text-align: left;
}